* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.mybtn {
  color: #533582 !important;
  font-weight: 600 !important;
  border: 2px solid #533582 !important;
}
.mybtn:hover {
  background-color: transparent !important;
  color: #a892c9 !important;
}
.navbar {
  background-color: #fff;
  padding-inline: 60px !important;
}
.btn1 {
  color: #533582 !important;
  background-color: transparent !important;
  border: none !important;
  font-weight: 600 !important;
}
.btn1:hover {
  color: #a892c9 !important;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease-in;
}
.fa-solid {
  font-size: 15px;
}
.search-icon:hover {
  background-color: rgb(228, 223, 223);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.nav-link {
  color: #000 !important;
}
.container-one {
  display: flex;
  justify-content: space-between;
}
.container-one {
  padding-top: 50px;
  height: auto;
  background-image: linear-gradient(#f8f6ff 70%, #fff);
}
image {
  width: 15%;
}
.image img {
  width: 100%;
  height: 600px;
  object-fit: contain;
}
.woocom {
  width: 40%;
  padding-block: 60px;
  text-align: center;
}
.woocom h1 {
  line-height: 34px;
}
.woocom > button {
  color: #fff;
  background-color: #533582;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  padding-block: 10px;
  padding-inline: 15px;
}
.woocom > button:hover {
  background-color: #a892c9;
}
.woocom p,
.woocom h5 {
  color: #646970;
}